body {font-family:  Arial, sans-serif;}
.tabs{margin:0 auto; width: 500px;}
	.tabs ul{padding:0; margin:0; display:inline-block; width:100%; height:30px;}
		.tabs ul li{margin:0px 4px 0px 0px; display:block; background-color:#fff; font:bold 12px Arial, sans-serif; float:left;}
		.tabs ul li.active a,
		.tabs ul li a {display:block; font:bold 12px; padding:8px 15px 2px 15px; height:20px; color:#262829; text-decoration:none; border:solid 1px #d2d2d2; border-bottom:0;}
		.tabs ul li.active a{border-bottom:solid 1px #fff; background-color:#fff; background-image:none; position:relative;}
		.tabs ul li a{color:#262829; background-color:#f7f7f7; }
		.tabs ul li a:hover{color:#f26322;}
	.tabs .window{border:solid 1px #d2d2d2; padding:0 15px; display:inline-block; width:100%; min-height:150px; background-color:#fff;}

/*PAGE SPECIFIC*/
.post .tabs .window{border:solid 1px #c6c6c6;}
.post .tabs ul li.active a,
.post .tabs ul li a {border:solid 1px #c6c6c6; border-bottom:solid 1px #fff;}

